<!DOCTYPE html>
<html>
<head>
  <title>SmartRailsSchool</title>
 	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 50px">

<div ng-app="schoolApp">
	<%= render 'layouts/navbar' %>
	<!--Modal for contact us-->
	<%= render 'layouts/contactus' %>
	<!--Modal for contact us ends here-->
	<div class="container">
	<h1>School App</h1>
	<div ng-view>
		
	</div>
	</div>
</div>

</body>
</html>
